


//colors
$primary: #5B6DF7;
$primary-dark: #01259B;
$primary-light: #D7E9FF;
$secondary: #F37CA7;
$input-btn-focus-box-shadow: none;
$text-color: #FFFFFF;
$grey-blue: #C3CAFF;
$camie-yellow: #FFBA53;

//font-families
$font-family-sans-serif: "Montserrat", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

//font-size
$font-size-sm: 1rem;
$font-size-base: 1rem;
$font-size-lg: 1.5625rem;
$font-size-sm: 0.9375rem;

$h1-font-size: 3.4rem;
$h2-font-size: 3.4rem;
$h3-font-size: 1.6rem;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px
);
